Repository GoogleCloudPlatform/pubsec-declarative-toolkit, pull requests merged in 2022-09, with the labels that each got.

#116 #104 - gcloud fix - add pull/105 later in regr tst
  solutions/guardrails/README.md
Labels: enhancement

#118 Update allowed Load Balancer and external VM IP Policies
  solutions/landing-zone/environments/common/policies/org-policies.yaml
Labels: policy, Landing Zone

#122 added gh action to validate landing zone solution
  .github/workflows/landing-zone-validation.yaml
Labels: Solution, automation

#131 #104 - align guardrails email gen to lz
  solutions/landing-zone/README.md
Labels: documentation, Landing Zone

#137 Updated CC avail regions
  cli/internal/cmdcreate/cmdcreate.go
Labels: arete

#129 Update to LZ deployment Docs
  solutions/landing-zone/README.md
Labels: documentation, Landing Zone, developer-experience
